<!DOCTYPE html>
<html>
  <head>
    <title>home page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to home <%= user.name %> </p>

    <a href="/users/success">movies</a>
    <a href="/users/addmovie">add a movie</a>
    <a href="/users/findmovie">find a movie</a>
    <a href="/users/logout">log out</a>
  </body>
</html>
