<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/<%= movie.title %>?_method=PUT " method="POST">
        <label for="title">title</label><br />
        <input type="text" name="title" id="title" placeholder="title"><br /> 
        
        
        <button type="submit">Add movie</button>
    </form>
</body>
</html>